<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="../static/styles/template.css"/>
</head>
<body style="background-color: rgb(0, 0, 0);">
    <!--I'M A COMMENT LOOK AT ME-->
    <a id="top"></a> <!--Reference: https://stackoverflow.com/questions/32102747/how-to-make-a-back-to-top-button-using-css-and-html-only-->
    <div class="topbar">
        <a href="Contact.html">Contact</a>
        <a href="Results.html">Results</a>
        <a href="Causes.html">Causes</a>
        <a class="active" href="Home.html">Home</a>
    </div>
    <img class="titleimage" src="../static/Fall_Upscaled.jpg" alt="Market Crashing">
    <h1 class="titletext">Video Game Crash of 1983</h1>
    <img class="fade" src="../static/Fade.png" alt="Fade">
    <div class="text">
        <br><br>
        <h1 style="text-align: center;">Background</h1>
        <p style="text-align: center;">The video game crash of 1983 (known as the Atari shock in Japan) was a large-scale recession in the video game industry that occurred from 1983 to 1985, primarily in the United States. The crash was attributed to several factors, including market saturation in the number of video game consoles and available games, many of which were of poor quality, as well as waning interest in console games in favor of personal computers.</p>
        <br><br><br>
        <div class="preview">
            <img src="../static/Commodore.png" alt="Commodore">
            <h1>Causes</h1>
            <p>In addition, the rapid growth of the videogame industry led to an increased demand, which the manufacturers over-projected. In 1983, an analyst for Goldman Sachs stated the demand for video games was up 100% from the previous, but the manufacturing output had increased by 175%, creating a significant surplus.</p>
            <a href="Causes.html">Read More</a>
        </div>
        <br><br><br>
        <div class="preview">
            <img src="../static/ET_Burried.png" alt="ET Burried">
            <h1>Results</h1>
            <p>Atari was one of those companies most affected by the crash. As a company, its revenues dropped significantly due to dramatically lower sales and cost of returned stock. By mid-1983, the company had lost US$356 million and was forced to lay off 3,000 of its 10,000 worker staff.</p>
            <a href="Results.html">Read More</a>
        </div>
    </div>
    <div class="footer">
        ©2023 Joshua Wagner
        <a href="#top">Go Up</a>
        <a href="https://github.com/IMadeAGame"><img src="../static/GitLogo.png" alt="github"></a>
    </div>
</body>
</html>